@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Public Sans', sans-serif;
  --color-brand-green: rgb(0 220 130);
}

:root {
  --ui-container: var(--container-8xl);
  --ui-primary: var(--color-brand-green);
  --ui-color-primary-500: 0 220 130; /* Formato R G B sem vírgulas */
}
